main.books-page {
  background-image: linear-gradient(135deg, #dbe6ff 0%, #babffc 100%);
  font-size: 20px;
  color: #4c0874;
  font-weight: bold;
  flex: 1 1 auto;
  font-size: 20px;
}

.filter-book {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
  column-gap: 40px;
}

.filter-input {
  position: relative;
  display: inline-block;
}

.filter-name,
.filter-price {
  font-size: 20px;
  height: 40px;
  border: 2px solid cyan;
  color: #4c0874;
  font-weight: bold;
  box-shadow: 5px 5px 10px rgba(46, 229, 157, 0.4);
}

.filter-name {
  width: 400px;
  text-align: center;
  border-radius: 30px;
}

.filter-search {
  position: absolute;
  right: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 40px;
  cursor: pointer;
  background: linear-gradient(135deg, #deb9fd 0%, #d2fdfe 100%);
}

.search-icon {
  position: absolute;
  top: 25%;
  right: 20px;
}

.filter-price {
  width: 120px;
  text-align: center;
  border-radius: 30px;
}

.filter-name:hover,
.filter-price:hover {
  border: 2px solid aquamarine;
}

.filter-name:focus,
.filter-price:focus {
  outline: none;
}

.book-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 50px;
}

.book {
  background-image: linear-gradient(135deg, #4bacfb 0%, #c9fce0 100%);
  width: 25%;
  height: auto;
  border: solid 2px aqua;
  border-radius: 8px;
  margin: 20px 50px;
  padding: 10px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(46, 229, 157, 0.4);
}

.book span {
  color: black;
}

.book:hover {
  border: 2px solid aquamarine;
}

.book-image {
  width: 100%;
  height: 300px;
  border-radius: 12px;
}

.view {
  text-decoration: none;
  display: inline-block;
  width: 100px;
  height: 45px;
  line-height: 45px;
  border: none;
  border-radius: 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.view:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-7px);
}
